/* Basic styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  word-wrap: break-word;
}

body {
  background-color: whitesmoke;
  margin: 20px 0px;
}

input[type="file"] {
  display: none;
}

a {
  text-decoration: none;
  text-align: center;
}

/* General styling */
.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Form */
.form {
  max-width: 700px;
  border-radius: 8px;
  padding: 20px 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.form .personal-information,
.form .experience,
.form .education,
.form .knowledge {
  flex: calc(50% - 20px);

  display: flex;
  flex-direction: column;
  text-align: center;
}

.form .personal-information h2,
.form .experience h2,
.form .education h2,
.form .knowledge h2 {
  margin-bottom: 4px;
}

.form .personal-information input,
.form .experience input,
.form .education input,
.form .knowledge input {
  padding: 5px 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  /* background-color: rgb(228, 228, 228); */
  background-color: #dddddd;
  text-align: center;
  margin-bottom: 4px;
}

.form .personal-information input:focus,
.form .experience input:focus,
.form .education input:focus,
.form .knowledge input:focus {
  outline: none;
}

/* Button */
button,
.button {
  border: 0;
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #6abfc3 !important;
  border-radius: 8px;
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
}

button:hover,
.button:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* Media queries */
@media (max-width: 800px) {
  body {
    margin: 20px 10px;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0 8px 8px 8px;
  }

  .flex-container-row {
    gap: 20px;
  }

  .form {
    padding: 10px 15px;
  }
}
