/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* General styling */
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

/* Logo */
.logo {
  margin: 35px 0 0 100px;
}

/* Form */
.form {
  height: 85vh;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
}

.form .personal-information {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form .personal-information input {
  font-size: 20px;
  border: 0;
}

.form .personal-information input:focus {
  outline: none;
}

button {
  border: 0;
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #6abfc3;
  border-radius: 8px;
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
}
