:root {
  --cv-preview-width: calc(85vh * 210 / 297);
  --cv-preview-height: 85vh;

  --color-primary: #143e72;
  --color-secondary: #eeeeee;
  --color-contact: #dddddd;
  --color-hr: #cccccc;
}

.preview {
  width: var(--cv-preview-width);
  height: var(--cv-preview-height);

  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
}

hr {
  border: 1px solid var(--color-hr);
  margin-bottom: calc(var(--cv-preview-height) / (8 * 12));
}

/* Header */
.preview .header {
  height: calc(var(--cv-preview-height) / 8);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: calc(var(--cv-preview-height) / (8 * 7));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview .header h1 {
  font-size: calc(var(--cv-preview-height) / (8 * 3));
  line-height: 1.1;
}

.preview .header p {
  font-size: calc(var(--cv-preview-height) / (8 * 4));
}

/* Main content */
.preview .main-content {
  height: calc(var(--cv-preview-height) * 7 / 8);
  display: flex;
  flex-direction: row-reverse;
}

/* Contact */
.preview .main-content .contact {
  width: calc(var(--cv-preview-width) / 3);
  background-color: var(--color-contact);
  padding: calc(var(--cv-preview-height) / (8 * 7));
}

.preview .main-content .contact img {
  width: calc(
    var(--cv-preview-width) / 3 - 2 * var(--cv-preview-height) / (8 * 7)
  );
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
  border-radius: calc(var(--cv-preview-height) / (8 * 35));
}

.preview .main-content .contact h2 {
  color: var(--color-primary);
  font-size: calc(var(--cv-preview-height) / (8 * 5));
}

.preview .main-content .contact h3 {
  font-size: calc(var(--cv-preview-height) / (8 * 6));
  line-height: 1.1;
}

.preview .main-content .contact p {
  font-size: calc(var(--cv-preview-height) / (8 * 6));
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
  line-height: 1.1;
}

/* Resume */
.preview .main-content .resume {
  width: calc(var(--cv-preview-width) * 2 / 3);
  background-color: var(--color-secondary);
  padding: calc(var(--cv-preview-height) / (8 * 7));
}

/* About */
.main-content .resume .about {
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
}

.main-content .resume .about h2 {
  color: var(--color-primary);
  font-size: calc(var(--cv-preview-height) / (8 * 5));
}

.main-content .resume .about p {
  font-size: calc(var(--cv-preview-height) / (8 * 6));
  line-height: 1.3;
}

/* Experiences */
.main-content .resume .experiences {
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
}

.main-content .resume .experiences h2 {
  color: var(--color-primary);
  font-size: calc(var(--cv-preview-height) / (8 * 5));
}

/* Educations */
.main-content .resume .educations {
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
}

.main-content .resume .educations h2 {
  color: var(--color-primary);
  font-size: calc(var(--cv-preview-height) / (8 * 5));
}

/* Knowledges */
.main-content .resume .knowledges h2 {
  color: var(--color-primary);
  font-size: calc(var(--cv-preview-height) / (8 * 5));
}

/* Knowledges tags */
.main-content .resume .knowledges .knowledges-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--cv-preview-height) / (8 * 20));
}

.resume .knowledges .knowledges-tag-container .knowledges-tag {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  padding: calc(var(--cv-preview-height) / (8 * 60))
    calc(var(--cv-preview-height) / (8 * 8));
  border-radius: calc(var(--cv-preview-height) / (8 * 6));

  display: flex;
  align-items: center;
  justify-content: center;
}

.knowledges-tag p {
  font-size: calc(var(--cv-preview-height) / (8 * 7));
}

/* Resume list, appear in experiences and educations */
.resume .resume-list .resume-list-item {
  display: flex;
  align-items: baseline;
  gap: calc(var(--cv-preview-height) / (8 * 4));
  margin-bottom: calc(var(--cv-preview-height) / (8 * 20));
}

.resume-list .resume-list-item h3 {
  font-size: calc(var(--cv-preview-height) / (8 * 6));
}

.resume-list .resume-list-item p {
  flex-shrink: 0;
  font-size: calc(var(--cv-preview-height) / (8 * 7));
}

/* Media queries */
@media (max-width: 800px) {
  :root {
    --cv-preview-width: calc(95vw - 20px);
    --cv-preview-height: calc((95vw - 20px) * 297 / 210);
  }
}

@media (max-width: 500px) {
  :root {
    --cv-preview-width: calc(100vw - 16px);
    --cv-preview-height: calc((100vw - 16px) * 297 / 210);
  }
}
